{% extends "base.html" %}
{% block content %}
<h2>Change Password for {{ username }}</h2>
<form method="post" class="row g-3">
    <div class="col-md-6">
        <label class="form-label">New Password</label>
        <input class="form-control" type="password" name="new_password">
    </div>
    <div class="col-12">
        <button class="btn btn-danger" type="submit">Change Password</button>
    </div>
</form>
{% if message %}
<div class="alert alert-success mt-2">{{ message }}</div>
{% endif %}
{% endblock %}
